<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>CSCI5308 - Group Formation Tool</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <h2>Survey Editor</h2>

    <div sec:authorize="isAuthenticated()">
        <h3>All Questions Title</h3>
        <span th:text="${status}"></span>
        <form th:action="@{/survey/editsurveyquestion(courseId=${courseId})}" method="post">
            <table>
                <tr th:each="sur : ${surveys}">
                    <td><input type="checkbox" name="question" th:value="${sur.questionId}"></td>
                    <td><span th:text="${sur.questionTitle}"></span></td>
                    <td><span th:text="${sur.questionText}"></span></td>
                </tr>
            </table>
            <input type="submit" value="Delete From Survey"/>
        </form>
        <br>
        <a th:href="@{/survey/surveymanager(courseId=${courseId})}">Add More Questions To Survey</a>
    </div>
</div>
</body>
</html>