<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CSCI5308 Group Formation Tool - Signup page</title>
</head>
<body>
<h1>Welcome to the group formation tool, please enter your information:</h1>
<br/>
<div th:if="${errorMessage}">
    <h3 th:text="${errorMessage}"></h3>
    <br/>
</div>
<span th:text="${status}"></span>
<br>
<form th:action="@{/signup}" method="post">
    <div><label>BannerID : <input type="text" name="username" required/> </label></div>
    <div><label>Password: <input type="password" name="password" required/> </label></div>
    <div><label>Password (Confirmation): <input type="password" name="passwordConfirmation" required/> </label></div>
    <div><label>First Name : <input type="text" name="firstName" required/> </label></div>
    <div><label>Last Name : <input type="text" name="lastName" required/> </label></div>
    <div><label>Email : <input type="text" name="email" required/> </label></div>

    <div><input type="submit" value="Create Account"/></div>
</form>
<br>
<span th:text="${error_status}"></span>

<br/>
<a th:href="@{/login}">Are you an existing user? Click here to log in!</a>
</body>
</html>